body, h1 {
    margin:0;
}
#header {
    width:100vw;
    height:150px;
    background: lightgoldenrodyellow;
    color: darkred;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

#header h1 {
    font-size: 3em;
}

.rollsWrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
}
    .roll {
        width:125px;
        height:50px;
        background: lightgray;
        border: 2px solid lightslategrey;
        border-radius: 10px;
        margin:10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.graphWrap {
    width: 65vw;
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px
}
    .graph {
        margin: 20px;
        width: 55vw;
        height: auto;
        border: 2px solid black;
        border-radius: 10px;
    }
        .graphItemWrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .graphItem {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 3.182vh;
            background-color: lightcoral;
            padding-left: 25px;
            margin-right: 10px;
        }

        #first {
            border-top-left-radius: 8px;
        }
        #last {
            border-bottom-left-radius: 8px;
        }
        .analysisWrap {
            display: flex;
        }
        .graphAnalysis {
            width:125px;
            height:50px;
            background: lightgray;
            border: 2px solid lightslategrey;
            border-radius: 10px;
            margin:10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }